[Unit]
Description=Dummy TDX DCAP Node.js server
After=network-setup.service
Wants=network-setup.service

[Service]
Type=exec
User=root
Group=root
Environment="HOST=0.0.0.0"
Environment="PORT=80"
WorkingDirectory=/usr/lib/dummy-tdx-dcap
ExecStart=/usr/bin/node /usr/lib/dummy-tdx-dcap/server.js
Restart=on-failure
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=minimal.target
